@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:bold&subset=latin');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular&subset=latin');
@import url('https://fonts.googleapis.com/css?family=Lato:light,regular,bold&subset=latin');
/* Deeply indebted to getskeleton.com */

/*
 - grid
 - static elements (header, footer, etc...)
 - base styles
 - typography
 - buttons
 - forms
 - lists
 - spacing
 - utilities

 Info:
   "Color scheme": https://coolors.co/202a25-3e885b-85bda6-f7ebec-3454d1
 */


/*  GRID
 ------------------------------- */
.container {
  position: relative;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

}


/*  STATIC ELEMENT
 ------------------------------- */
.header {
  padding: 1rem 0;
  border-bottom: 8px solid #85BDA6;
  text-align: center;
}

.footer {
  padding: 1rem 0;
  border-top: 5px solid #85BDA6;
  font-size: 14px;
  text-align: left;
}




/*  BASE STYLES
 ------------------------------- */
html {
    background-color: #3E885B;
}


/*  TOPOGRAPHY
 ------------------------------- */
h1 {
  margin: 1.5em auto 0.5em auto;
  color: #202a25;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 37px;
}

h4 {
  max-width: 600px;
  margin: 2em auto;
  color: #202a25;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

p {
  max-width: 800px;
  margin: 0 auto;
  color: #202a25;
  text-align: left;
  font-family: sans-serif;
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

a {
  color: #3454D1;
  font-family: sans-serif;
}

@media (min-width: 600px) {
  h1 {
    font-size: 55px;
  }

  h4 {
    font-size: 18px;
  }
}


/*  BUTTONS
 ------------------------------- */
.button,
button,
input[type="submit"] {
  display: inline-block;
  padding: 0 30px;
  color: #f7ebec;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Open sans', sans-serif;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #3454D1;
  border-radius: 4px;
  border: 1px solid #f7ebec;
  cursor: pointer;
  box-sizing: border-box;
}

.headerLink {
  padding: 0 1rem;
  font-family: Leto, sans-serif;
  font-weight: 300;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
.activeHeaderLink {
  font-weight: 700;
}


/*  FORMS
 ------------------------------- */
form {
  padding: 0;
  margin: 10px auto 0 auto;
  max-width: 560px;
  width: 90%;
}

@media (min-width: 500px) {
  form {
    margin: 20px auto 0 auto;
  }
}

input[type="email"],
input[type="subject"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #202a25;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

input[type="email"],
input[type="subject"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 165px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="subject"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #202a25;
  outline: 0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  padding-left: 5px;
  font-weight: 600;
  font-family: 'Open sans', sans-serif;
}


/*  LISTS
 ------------------------------- */
#navcontainer ul {
   margin: 50px 0 60px 0;
   padding: 0;
   list-style-type: none;
   text-align: center;
}

#navlist li {
   display: inline;
   list-style-type: none;
   padding: 0 15px;
}

@media (min-width: 600px) {
  #navcontainer ul {
    margin: 80px 0 100px 0;
  }
} 


/*  SPACING
 ------------------------------- */
button,
.button {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; 
}

pre,
blockquote,
dl,
figure,
table,
form {
  margin-bottom: 2.5rem;
}


/*  UTILITIES
 ------------------------------- */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}